@page
@model ERPSystem.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ProjectManager)
        </dt>
        <dd class="col-sm-10">
            @if (@Model.Project.ProjectManager != null)
            {
                <a asp-page="../Employees/Edit"
                   asp-route-id="@Model.Project.ProjectManager.Id">
                    @Html.DisplayFor(model => model.Project.ProjectManager.FullName)
                </a>
            }
            else
            {
                @Html.DisplayFor(model => model.Project.ProjectManager.FullName)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ProjectState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Department)
        </dt>
        <dd class="col-sm-10">
            @if (@Model.Project.Department != null)
            {
                <a asp-page="../Departments/Edit"
                   asp-route-id="@Model.Project.Department.Id">
                    @Html.DisplayFor(model => model.Project.Department.Name)
                </a>
            }
            else
            {
                @Html.DisplayFor(model => model.Project.Department.Name)
            }
        </dd>
        @if (Model.Project.Positions.Any())
        {
            <dd class="col-sm-auto" style="overflow-y: auto; max-height: 400px;">
                <table class="table-striped table-bordered ">
                    <thead style="text-align: center">
                        <tr>
                            <th class="col-sm-auto">#</th>
                            <th class="col-sm-auto">@Html.DisplayNameFor(model => model.Project.Positions)</th>
                            <th class="col-sm-auto">@Html.DisplayNameFor(model => model.Project.Positions.FirstOrDefault().StartDate)</th>
                            <th class="col-sm-auto">@Html.DisplayNameFor(model => model.Project.Positions.FirstOrDefault().EndDate)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            @foreach (var item in Model.Project.Positions)
                            {
                                <tr>
                                    <td style="text-align: center">@i</td>
                                    <td>
                                        <a asp-page="../Positions/Edit" asp-route-id="@item.Id">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit"
       asp-route-id="@Model.Project.Id"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-currentFilter="@Model.CurrentFilter">
        Edit
    </a> |
    <a asp-page="./Index"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-currentFilter="@Model.CurrentFilter">
        Back to List
    </a>
</div>
