@page
@model ERPSystem.Pages.Companies.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Company</h4>
<hr />
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Company.Id" />
    <input type="hidden" asp-for="FormerGeneralManagerId" />
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Company.Name" class="control-label"></label>
                <input asp-for="Company.Name" class="form-control" />
                <span asp-validation-for="Company.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Company.CompanyState" class="control-label"></label>
                <select asp-for="Company.CompanyState" asp-items="Html.GetEnumSelectList<Models.CompanyState>()" class="form-control" onchange="checkHead()"></select>
                <span asp-validation-for="Company.CompanyState" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Company.GeneralManager" class="control-label"></label>
                <select asp-for="@Model.GeneralManagerId" asp-items="@Model.GeneralManagerList" class="form-control" onchange="toggleActive()"><option value="0">--none--</option></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-auto">
            <div class="form-group">
                <label asp-for="Company.Departments" class="control-label"></label><br />
                <select asp-for="SelectedDepartments" asp-items="Model.DepartmentsSelectList" size="10">
                </select>
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="form-group">
                <label asp-for="Company.Branches" class="control-label"></label><br />
                <select asp-for="SelectedBranches" asp-items="Model.BranchesSelectList" size="10">
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>


<div>
    <a asp-page="./Index"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-currentFilter="@Model.CurrentFilter">
        Back to List
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function toggleActive() {
            var gm = document.getElementById("GeneralManagerId");
            var state = document.getElementById('Company_CompanyState');
            if (gm.options[gm.selectedIndex].value == '0') {
                for (var i = 0; i < state.options.length; i++) {
                    if (state.options[i].text === 'Inactive') {
                        state.selectedIndex = i;
                        break;
                    }
                }
            }
            else {
                for (var i = 0; i < state.options.length; i++) {
                    if (state.options[i].text === 'Active') {
                        state.selectedIndex = i;
                        break;
                    }
                }
            }
        }
        function checkHead() {
            var gm = document.getElementById("GeneralManagerId");
            var state = document.getElementById('Company_CompanyState');
            if (gm.options[gm.selectedIndex].value == '0') {
                for (var i = 0; i < state.options.length; i++) {
                    if (state.options[i].text === 'Inactive') {
                        state.selectedIndex = i;
                        break;
                    }
                }
            }
        }
    </script>
}
