@page
@model ERPSystem.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    @if (!string.IsNullOrEmpty(@Model.Employee.ProfilePicture))
    {
        <div class="row">
            <div class="col-md-4">
                <div class="img-fluid mw-100 h-auto">
                    <img src="~/images/avatars/@Model.Employee.ProfilePicture" />
                </div>
            </div>
        </div>
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmployeeState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmployeeRole)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeRole)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Branch)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Employee.Branch != null)
            {
                <a asp-page="../Branches/Edit"
                   asp-route-id="@Model.Employee.Branch.Id">
                    @Html.DisplayFor(model => model.Employee.Branch.Name)
                </a>
            }
            else
            {
                @Html.DisplayFor(model => model.Employee.Branch.Name)
            }

        </dd>
        @if (Model.Employee.Assignments.Any())
        {
            <dd class="col-sm-auto" style="overflow-y: auto; max-height: 400px;">
                <table class="table-striped table-bordered ">
                    <thead style="text-align: center">
                        <tr>
                            <th class="col-sm-auto">#</th>
                            <th class="col-sm-auto">@Html.DisplayNameFor(model => model.Employee.Assignments)</th>
                            <th class="col-sm-auto">@Html.DisplayNameFor(model => model.Employee.Assignments.FirstOrDefault().StartDate)</th>
                            <th class="col-sm-auto">@Html.DisplayNameFor(model => model.Employee.Assignments.FirstOrDefault().EndDate)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            @foreach (var item in Model.Employee.Assignments)
                            {
                                <tr>
                                    <td style="text-align: center">@i</td>
                                    <td>
                                        <a asp-page="../Assignments/Edit" asp-route-id="@item.Id">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </dd>
        }
        @if (Model.Employee.Mentors.Any())
        {
            <dd class="col-sm-auto" style="overflow-y: auto; max-height: 400px;">
                <table class="table-striped table-bordered">
                    <thead style="text-align: center">
                        <tr>
                            <th class="col-sm-auto">#</th>
                            <th class="col-sm-auto">@Html.DisplayNameFor(model => model.Employee.Mentors)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int j = 1;
                            @foreach (var item in Model.Employee.Mentors)
                            {
                                <tr>
                                    <td style="text-align: center">@j</td>
                                    <td>
                                        <a asp-page="./Edit" asp-route-id="@item.Id">
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </a>
                                    </td>
                                </tr>
                                j++;
                            }
                        }
                    </tbody>
                </table>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit"
       asp-route-id="@Model.Employee.Id"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-currentFilter="@Model.CurrentFilter"
       asp-route-Role="@Model.Role">
        Edit
    </a> |
    <a asp-page="./Index"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-currentFilter="@Model.CurrentFilter"
       asp-route-Role="@Model.Role">
        Back to List
    </a>
</div>
