@page
@model ERPSystem.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Employees";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Employees</h1>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            <a asp-page="Create"><i class="fas fa-user-plus fa-lg mr-1"></i></a>
            <input type="text" name="SearchString" value="@Model.CurrentFilter" placeholder="Find by name" />
            <button type="submit" class="btn btn-default">
                <i class="fa fa-search"></i>
            </button> |
            <a asp-page="./Index" class="btn btn-default"><i class="fas fa-times"></i></a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employee[0].FullName)
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.RoleSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employee[0].EmployeeRole)
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.BranchSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employee[0].Branch)
                </a>
            </th>
            <th style="text-align: center">
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.AssignmentSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employee[0].Assignments)
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.StateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employee[0].EmployeeState)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            @foreach (var item in Model.Employee)
            {
                <tr>
                    <th scope="row">
                        @Model.Employee.SeqNum[i]
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeRole)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Branch.Name)
                    </td>
                    <td style="text-align: center">
                        @item.Assignments.Count()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeState)
                    </td>
                    <td style="text-align: center">
                        <a asp-page="./Edit"
                           asp-route-id="@item.Id"
                           asp-route-pageIndex="@Model.Employee.PageIndex"
                           asp-route-sortOrder="@Model.CurrentSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            <i class="fas fa-pencil-alt fa-lg"></i>
                        </a> |
                        <a asp-page="./Details"
                           asp-route-id="@item.Id"
                           asp-route-pageIndex="@Model.Employee.PageIndex"
                           asp-route-sortOrder="@Model.CurrentSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            <i class="fas fa-eye fa-lg"></i>
                        </a> |
                        <a asp-page="./Delete"
                           asp-route-id="@item.Id"
                           asp-route-pageIndex="@Model.Employee.PageIndex"
                           asp-route-sortOrder="@Model.CurrentSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            <i class="fas fa-trash fa-lg text-danger"></i>
                        </a>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Employee.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Employee.HasNextPage ? "disabled" : "";
}
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="1"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    <i class="fas fa-fast-backward"></i>
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Employee.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    <i class="fas fa-arrow-alt-circle-left fa-lg"></i>
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Employee.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    <i class="fas fa-arrow-alt-circle-right fa-lg"></i>
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Employee.TotalPages)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    <i class="fas fa-fast-forward"></i>
</a>
