@page
@model ERPSystem.Pages.Positions.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Position</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.PositionState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.PositionState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.Project)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Position.Project != null)
            {
                <a asp-page="../Projects/Edit"
                   asp-route-id="@Model.Position.Project.Id">
                    @Html.DisplayFor(model => model.Position.Project.Name)
                </a>
            }
            else
            {
                @Html.DisplayFor(model => model.Position.Project.Name)
            }
        </dd>
        @if (Model.AssignmentsList.Any())
        {
            <dd class="col-sm-auto" style="overflow-y: auto; max-height: 400px;">
                <table class="table-striped table-bordered">
                    <thead style="text-align: center">
                        <tr>
                            <th class="col-sm-auto">#</th>
                            <th class="col-sm-auto">@Html.DisplayNameFor(model => model.Position.Assignments.First().Name)</th>
                            <th class="col-sm-auto">@Html.DisplayNameFor(model => model.Position.Assignments.First().StartDate)</th>
                            <th class="col-sm-auto">@Html.DisplayNameFor(model => model.Position.Assignments.First().EndDate)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            @foreach (var item in Model.AssignmentsList)
                            {
                                <tr>
                                    <td style="text-align: center">@i</td>
                                    <td>
                                        <a asp-page="../Assignments/Edit"
                                           asp-route-id="@item.Id">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </a>
                                    </td>
                                    <td>@item.StartDate.ToString("yyyy-MM-dd")</td>
                                    <td>@item.EndDate.ToString("yyyy-MM-dd")</td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit"
       asp-route-id="@Model.Position.Id"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-currentFilter="@Model.CurrentFilter">
        Edit
    </a> |
    <a asp-page="./Index"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-currentFilter="@Model.CurrentFilter">
        Back to List
    </a>
</div>
