@page
@model ERPSystem.Pages.GeneralManagers.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>GeneralManager</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralManager.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GeneralManager.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralManager.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GeneralManager.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralManager.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GeneralManager.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralManager.EmployeeState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GeneralManager.EmployeeState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralManager.Branch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GeneralManager.Branch.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.GeneralManager.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
