@page
@model ERPSystem.Pages.Departments.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.DepartmentHead)
        </dt>
        <dd class="col-sm-10">
            @if (@Model.Department.DepartmentHead != null)
            {
                <a asp-page="../Employees/Edit"
                   asp-route-id="@Model.Department.DepartmentHead.Id">
                    @Html.DisplayFor(model => model.Department.DepartmentHead.FullName)
                </a>
            }
            else
            {
                @Html.DisplayFor(model => model.Department.DepartmentHead.FullName)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.DepartmentState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Company)
        </dt>
        <dd class="col-sm-10">
            @if (@Model.Department.Company != null)
            {
                <a asp-page="../Companies/Edit"
                   asp-route-id="@Model.Department.Company.Id">
                    @Html.DisplayFor(model => model.Department.Company.Name)
                </a>
            }
            else
            {
                @Html.DisplayFor(model => model.Department.Company.Name)
            }
        </dd>
        @if (Model.ProjectsList.Any())
        {
            <dd class="col-sm-auto" style="overflow-y: auto; max-height: 400px;">
                <table class="table-striped table-bordered">
                    <thead style="text-align: center">
                        <tr>
                            <th class="col-sm-auto">#</th>
                            <th class="col-sm-auto">@Html.DisplayNameFor(model => model.Department.Projects.First().Name)</th>
                            <th class="col-sm-auto">@Html.DisplayNameFor(model => model.Department.Projects.First().StartDate)</th>
                            <th class="col-sm-auto">@Html.DisplayNameFor(model => model.Department.Projects.First().EndDate)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            @foreach (var item in Model.ProjectsList)
                            {
                                <tr>
                                    <td style="text-align: center">@i</td>
                                    <td>
                                        <a asp-page="../Projects/Edit"
                                           asp-route-id="@item.Id">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </a>
                                    </td>
                                    <td>@item.StartDate.ToString("d")</td>
                                    <td>@item.EndDate.ToString("d")</td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit"
       asp-route-id="@Model.Department.Id"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-currentFilter="@Model.CurrentFilter">
        Edit
    </a> |
    <a asp-page="./Index"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-currentFilter="@Model.CurrentFilter">
        Back to List
    </a>
</div>
